body {
    background: gray;
}

.Header-main {
    padding: 0.5rem;
    background-color: #353638;
    color: #d3d3d3;
}

.Header-main h1, h2 {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.Header-main h2{
    font-weight: 300;
    color: #10CAF7;
}

.Nav-menu {
    background-color: #525252 ;
    padding: 0;
}

.Nav-list{
    font-size: 0;
    padding: 0;
    margin:0;
    text-align: center;
}

.Nav-list li{
    display: inline-block;
}

.Nav-list li a {
    display: inline-block;
    padding: .5rem 1.5rem;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    text-decoration: none;
}

.Nav-menu  a:hover {
    background-color: #FF4842;
    color: white;
}

.Message {
    margin: 1.5rem;
    background: #525252;
    padding: .6rem;
    color: white;
    font-weight: 400;
    text-align: justify;
    border-radius: 5px;
}

.Message span {
    color:#00FFA5;
}

.Form {
    overflow: hidden;
    margin: .8rem 1.5rem;
    background: #525252;
    padding: 1rem;
    text-align: left;
    border-radius: 5px;
}

.Form table td, th{
    color:white;
    padding: 4px;
    border-bottom: 1px solid gray;
}

.Form table th{
    color:#10CAF7;
}

.Form table tr:nth-child(even){
    background:gray;
}

.Form table{
    border-collapse: collapse;
    text-align: center;
    width:100%;
}

.item_requerid {
    color:white;
    margin:5px 0;
    width: 150px;
    height: 22px;
    padding-right: 8px;
    font-weight: 400;
    float: left;
    clear: left;
    text-align: right;
}

.form_requerid {
    margin: 0.3rem 1rem;
    float: left;
    clear: right;
}

input {
    padding:.1rem;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
}

.form_button {
    clear: both;
    margin-left: 173px;
    padding: 1rem 0;
}

#enviar {
    width: 210px;
    padding: .5rem 1rem;
    border: 0;
    border-radius: 5px;
    background:#10CAF7;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
}

#enviar:hover {
    background: #FF4842;
}

input[readonly]
{
    color:black;
    background: #d3d3d3;
}
