.btn-custom {
    background: linear-gradient(270deg,#0684d3 0,#0684d3 50%,#0790e4);
    font-weight: bold;
}
.btn-custom:hover {
    box-shadow: 0 2px 13px 0 rgba(4,116,186,.5);
}
.btn-custom:active {
    transition: all .3s;
    transform: scale(.95);
}